<p>
  Provide questions in yaml array format; fields <em>text, hint, answer, weight, grader</em>.
</p>

  <ngx-monaco-editor
    matInput 
    id="sample-editor"
    [options]="sampleOptions" 
    [(ngModel)]="sampleText">
  </ngx-monaco-editor>

<p>
  Random macro form: <em>##target:type:range##</em> where <em>type: int, hex, b64, uid, list</em>.
</p>

<ngx-monaco-editor
    matInput 
    id="macro-editor"
    [options]="macroOptions" 
    [(ngModel)]="macroText">
  </ngx-monaco-editor>

<p>
  Custom challenge questions
</p>
<div class="form-group">
  <ngx-monaco-editor
    matInput 
    id="yaml-editor"
    [options]="editorOptions" 
    [(ngModel)]="yamlText"
    [ngModelOptions]="{standalone: true}"
    (keyup)="editorUpdated()">
  </ngx-monaco-editor>
  <div id="yaml-hints">
    <mat-hint>array of questions in yaml</mat-hint>
    <mat-hint class="hint-end" [style.color]="codeLimit() && 'red'">{{(''+yamlText).length}} / 4096</mat-hint>
  </div>
</div>
<div class="submit">
  <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled]="!needSaving()">Save Questions</button>
</div>
<topomojo-error-div [errors]="errors"></topomojo-error-div>
