#yaml-editor {
  resize: vertical;
  overflow: auto;
  min-height: 15em;
  max-height: 75em;
}

#yaml-hints {
  width: 100%;
  font-size: 75%;
}

.hint-end {
  float: right;
}

#sample-editor {
  height: 5em;
}

#macro-editor {
  height: 7em;
}

.submit {
  text-align: center;
}