pre {
  background-color: whitesmoke;
  color: gray;
  border-radius: 4px;
  padding: 4px;
}
textarea {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 4px;
}
